* {
  font-family: 'Montserrat', sans-serif;
  background-color: #E0DDCF;
}

h1 {
  background-color: #474448;
  color: #E0DDCF;
  padding: 1em;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

table, td, th {
  border: .25rem solid #474448;
  padding: .5rem;
  border-collapse: collapse;
}

.problem {
  color: red;
}